<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>

    <key>CFBundleDisplayName</key>
    <string>SquashboxFS</string>

    <key>CFBundleExecutable</key>
    <string>SquashboxFS</string>

    <key>CFBundleIdentifier</key>
    <string>com.squashbox.app.squashfs</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>SquashboxFS</string>

    <key>CFBundlePackageType</key>
    <string>XPC!</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>

    <key>CFBundleVersion</key>
    <string>1</string>

    <key>EXAppExtensionAttributes</key>
    <dict>
        <key>EXExtensionPointIdentifier</key>
        <string>com.apple.fskit.fsmodule</string>

        <key>EXExtensionPrincipalClass</key>
        <string>SquashboxFS.SquashboxFSExtension</string>

        <key>FSShortName</key>
        <string>squashfs</string>

        <key>FSSupportsBlockResources</key>
        <false/>

        <key>FSSupportsServerURLs</key>
        <false/>
    </dict>

    <key>LSMinimumSystemVersion</key>
    <string>15.4</string>
</dict>
</plist>
